@font-face {
  font-family: "Ars Maquette";
  src: url("../fonts/ars-maquette/ars-maquette-bold-webfont.eot");
  src: url("../fonts/ars-maquette/ars-maquette-bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ars-maquette/ars-maquette-bold-webfont.ttf") format("truetype"),
  url("../fonts/ars-maquette/ars-maquette-bold-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Ars Maquette";
  src: url("../fonts/ars-maquette/ars-maquette-medium-webfont.eot");
  src: url("../fonts/ars-maquette/ars-maquette-medium-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ars-maquette/ars-maquette-medium-webfont.ttf") format("truetype"),
  url("../fonts/ars-maquette/ars-maquette-medium-webfont.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Ars Maquette";
  src: url("../fonts/ars-maquette/ars-maquette-regular-webfont.eot");
  src: url("../fonts/ars-maquette/ars-maquette-regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ars-maquette/ars-maquette-regular-webfont.ttf") format("truetype"),
  url("../fonts/ars-maquette/ars-maquette-regular-webfont.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Ars Maquette";
  src: url("../fonts/ars-maquette/ars-maquette-light-webfont.eot");
  src: url("../fonts/ars-maquette/ars-maquette-light-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ars-maquette/ars-maquette-light-webfont.ttf") format("truetype"),
  url("../fonts/ars-maquette/ars-maquette-light-webfont.woff") format("woff");
  font-weight: 300;
}
